[submodule "snapcrime-android"]
	path = snapcrime-android
	url = https://github.com/ahnanfuadwijaya/snapcrime-android
[submodule "snapcrime-rest"]
	path = snapcrime-rest
	url = https://github.com/ahnanfuadwijaya/snapcrime-rest
	branch = master
